
<%= link_to 'New Product', new_product_path, class: "btn btn-default" %>
<h1>Listing products</h1>

<table class="table table-hover">
  <thead>
    
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Tools</th>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      
      <td><%= image_tag(product.image_url, class: 'img-thumbnail') %></td>
      <td><%= product.title %></td>
      <td><%= truncate(strip_tags(product.description), length: 200) %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Show', product, class: "btn btn-primary" %></td>
     </tr> 

  <% end %>
</tbody>
</table>

  




